# Exclude HTML and CSS files from language statistics
*.html linguist-vendored
*.css linguist-vendored

# Ensure that Jupyter Notebooks are categorized as Jupyter Notebook
*.ipynb linguist-language=Jupyter Notebook

# Exclude the 'notebooks' folder from language statistics
notebooks/* linguist-vendored
*.js linguist-vendored
